<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button{
            padding: .5rem;
        }
        input{
            padding: .5rem;
        }
    </style>
</head>
<body>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    </div>
    <div>
        <form method="post" action="">
            <input type="text" name="text" placeholder="enter message">
            <input type="text" name="tag" placeholder="tag">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button type="submit">Add</button>
        </form>
    </div>
    <form method="post" action="filter">
        <input type="text" name="text">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <button type="submit">Search</button>
    </form>
    <div>Список сообщений</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <b>{{tag}}</b>
    </div>
    {{/messages}}
</body>
</html>